<center>
<h1>Categorias de produto</h1>

<% if @product_categories.empty? %>
        <div class="warning"> 'Nenhuma categoria cadastrada' </div>
<% else %>
        <div>
        <% @product_categories.each do  |product_category| %>
        <p><%= link_to "#{product_category.name} (#{product_category.code})", product_category_path(product_category) %>
        <% end %>
        </div>
<% end %>

<h3> <%= link_to 'Criar nova categoria', new_product_category_path %> </h3>

<h3> <%= link_to 'Voltar', root_path %> </h3>
</center>